<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <h1>MyZikMan</h1>
    <form method="POST" action="/updateBand/{{band.id}}">
        {% csrf_token %}
            <h3>Update Details</h3>
            <p>Band Name:
                <input type="text" name="bandName" value="{{band.bandName}}" />
            </p>
            <p>Band Email:
                <input type="email" name="bandEmail" value="{{band.bandEmail}}" />
            </p>
            <p>Band Style:
                <input type="text" name="bandStyle" value="{{band.bandStyle}}" />
            </p>
            <button type="submit" class="submit">Update</button>
    </form>
</body>

</html>