<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <h1>MyZikMan</h1>
    <form method="POST" action="/create">
        {% csrf_token %}
        <div>
            <h3>Enter Details</h3>
            <div>
                <p>Name: {{ form.userName }}</p>
            </div>
            <div>
                <p>Email: {{ form.userEmail }}</p>
            </div>
            <div>
                <p>Instrument: {{ form.userInstrument }}</p>
            </div>
            <div>
                <p>Band: {{ form.userBand }}</p>
            </div>
            <div>
                <button type="submit" class="submit">Submit</button>
            </div>
        </div>
    </form>
</body>

</html>