<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <h1>MyZikMan</h1>
    <a href="/requests" class="newRec" style="--floating:right"><button>back</button></a>

    <form method="POST" action="/login">
        {% csrf_token %}
        <div>
            <h2>Enter your login</h2>
            {% for message in messages %}
            <p>{{message}}</p>
            {% endfor %}
            <div>
                <p>Username: <input type="text" name="username" /></p>
            </div>
            <div>
                <p>Password: <input type="password" name="password" /></p>
            </div>
            <div>
                <button type="submit" class="submit">Submit</button>
            </div>
        </div>
    </form>
</body>

</html>